@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide native date picker icon to allow full cell click ONLY for grid inputs */
.grid-date-input::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased h-screen overflow-hidden;
}